*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bg{
    position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  overflow: hidden;    
}

.clearfix:after{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;

}

.row{
    max-width: 1180px;
    margin: 0 auto;
}

.logo{
    height: 200px;
    width: auto;
    float: left;

}

.nav{
    float: right;
    margin-top: 60px;
}

.nav li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;

}

.nav li a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: 100;
    
}

.nav li a:hover{
    border-bottom: 2px solid turquoise;

}

main{
    width: 1180px;
    position: absolute;
    top:50%;
    left:25%;
  
}

h1{
    color: white;
    font-size: 130px;
    word-spacing: 7px;
    letter-spacing: 5px;
    margin-bottom: 100px;
   font-family: 'Londrina Shadow';

}






.search-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #e2e9f3;
    height: 50px;
    border-radius: 25px;
    padding: 6px;
  }
  
  .search-btn{
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 0.4s;
  }
  
  .search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
  }
  
  .search-box:hover > .search-btn{
    background: white;
  }
  
  .search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 20px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
  }
